[elasticsearch-{{ elasticsearch_version }}]
name=Elasticsearch repository for {{ elasticsearch_version }} packages
baseurl=https://mirrors.cloud.tencent.com/elasticstack/{{ elasticsearch_version }}/yum
gpgcheck=0
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
